---
# Front matter must be here to work
---
.months {
    margin-bottom: 20px;
}

.glyphicon {
    margin-top: 5px;
    margin-right: 10px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
