---
# Front matter must be here to work
---
body {
    padding-top: 60px;
}

.months {
    margin-bottom: 10px;
}

#plants .glyphicon {
    margin-top: 5px;
    margin-right: 10px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.table-view-cell.active {
    color: #fff;
    background-color: blue;
}
