.months {
    margin-bottom: 20px;
}

#types .glyphicon {
    margin-right: 10px;
}

#plants {
  min-height: 300px;
}

#plants .glyphicon {
    margin: 10px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.wikipedia {
    margin-left: 10px;
}

.instruction {
    margin-top: 9px;
}
